<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica+Neue">

<ul class="navbar">
    <li class="leftAlign"><a class="navbar-element" href="/index">HOME</a></li>
    <li class="leftAlign"><a class="navbar-element" href="/booking">BOOK</a></li>
    <li class="leftAlign"><a class="navbar-element" href="/estimate">ESTIMATE PRICING</a></li>
    <li class="leftAlign"><a class="navbar-element" href="/contact">CONTACT</a></li>
    <% if (isLoggedIn) { %>
        <div class="rightAlign">
            <li><a class="navbar-element" href="/profile">PROFILE</a></li>
            <br>
            <li><a class="navbar-element" href="/logout">LOG OUT</a></li>
        </div>
    <% } else { %>
        <div class="rightAlign">
            <li><a class="navbar-element" href="/sign-up">SIGN UP</a></li>
            <br>
            <li><a class="navbar-element" href="/login">LOGIN</a></li>
        </div>
    <% } %>
</ul>
