<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Helvetica+Neue">

<ul class="navbar">
    <li class="leftAlign"><a class="navbar-element" href="/index">Home</a></li>
    <li class="leftAlign"><a class="navbar-element" href="/booking">Book</a></li>
    <li class="leftAlign"><a class="navbar-element" href="/estimate">Estimate Pricing</a></li>
    <li class="leftAlign"><a class="navbar-element" href="/contact">Contact</a></li>
    <% if (isLoggedIn) { %>
        <div class="rightAlign">
            <li><a class="navbar-element" href="/profile">PROFILE</a></li>
            <br>
            <li><a class="navbar-element" href="/logout">LOG OUT</a></li>
        </div>
    <% } else { %>
        <div class="rightAlign">
            <li><a class="navbar-element" href="/sign-up">SIGN UP</a></li>
            <br>
            <li><a class="navbar-element" href="/login">LOG IN</a></li>
        </div>
    <% } %>
</ul>
