<link rel="stylesheet" href="styles.css">
<ul class = "navbar">
    <li class="leftAlign"><a href="/index">HOME</a></li>
    <li class="leftAlign"><a href="/booking">BOOK</a></li>
    <li class="leftAlign"><a href="/estimate">ESTIMATE PRICING</a></li>
    <li class="leftAlign"><a href="/contact">CONTACT</a></li>

    <li class="rightAlign"><a href="/sign-up">SIGN UP</a></li>
    <li class="rightAlign"><a href="/log-in">LOG IN</a></li>
</ul>