<link rel="stylesheet" href="styles.css">
<ul class="navbar">
    <li class="leftAlign"><a class="navbar-element" href="/index">HOME</a></li>
    <li class="leftAlign"><a class="navbar-element" href="/booking">BOOK</a></li>
    <li class="leftAlign"><a class="navbar-element" href="/estimate">ESTIMATE PRICING</a></li>
    <li class="leftAlign"><a class="navbar-element" href="/contact">CONTACT</a></li>
    <li class="leftAlign"><a class="navbar-element" href="/test">TEST</a></li>
    <div class="rightAlign">
        <li><a class="navbar-element" href="/sign-up">SIGN UP</a></li>
        <br>
        <li><a class="navbar-element" href="/login">LOGIN</a></li>
    </div>
</ul>