<html>

<head>
    <%- include('layouts/navbar'); -%>
</head>

<body>
    <div class="options">
    <div class="colouredBox">
        <input type="button" onclick="submit" id="option1" value="Select"></input>

    </div>

    <div class="colouredBox">
        <input type="button" onclick="submit" id="option2" value="Select"></input>
        
    </div>

    <div class="colouredBox">
        <input type="button" onclick="submit" id="option3" value="Select"></input>
 

    </div>

    <div class="colouredBox">
        <input type="button" onclick="submit" id="option4" value="Select"></input>
 

    </div>

    </div>


<div class="calendar">
    <div class="day">Sun</div>
    <div class="day">Mon</div>
    <div class="day">Tue</div>
    <div class="day">Wed</div>
    <div class="day">Thu</div>
    <div class="day">Fri</div>
    <div class="day">Sat</div>


    <button class="day">1</button>
    <button class="day">2</button>
    <button class="day">3</button>
    <button class="day">4</button>
    <button class="day">5</button>
    <button class="day">6</button>
    <button class="day">7</button>
    <button class="day">8</button>
    <button class="day">9</button>
    <button class="day">10</button>
    <button class="day">11</button>
    <button class="day">12</button>
    <button class="day">13</button>
    <button class="day">14</button>
    <button class="day">15</button>
    <button class="day">16</button>
    <button class="day">17</button>
    <button class="day">18</button>
    <button class="day">19</button>
    <button class="day">20</button>
    <button class="day">21</button>
    <button class="day">22</button>
    <button class="day">23</button>
    <button class="day">24</button>
    <button class="day">25</button>
    <button class="day">26</button>
    <button class="day">27</button>
    <button class="day">28</button>
    <button class="day">29</button>
    <button class="day">30</button>
    <button class="day">31</button>
    <button class="day">32</button>
    <button class="day">33</button>
    <button class="day">34</button>
    <button class="day">35</button>
</div>


</body>

    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            margin: 20px;
        }

        .calendar {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            gap: 5px;
        }

        .day {
            width: 30px;
            height: 30px;
            line-height: 30px;
            border: 1px solid #ccc;
            cursor: pointer;
        }

    .options {
            display: flex; 
            justify-content: center; 
            align-items: center; 
            height: 100vh; 
            margin: 0;
        }

    .colouredBox{
        width: 200px;
        height: 300px;
        background-color: #3498db;
        border-color: black;
        border-radius: 1px;
        text-align: center;
        justify-content: center;
        align-items: center;
        margin: 20px;
        padding: 20px;

    }

    .calendar {
            display: grid;
            grid-template-columns: repeat(7, 50px);
            gap: 5px;
        }

    .day {
            width: 50px;
            height: 50px;
            border: 1px solid #ccc;
            border-radius: 5px;
            cursor: pointer;
    }
</style>

<script>

    

</script>

</html>