<html>

<head>
  <%- include('layouts/navbar'); -%>
</head>

<body>

  <div class="font">

    <h1 class="title">Contact Us</h1>
    <div class="grid-container">

      <div class="form-grid">
        <form action="/contact-form" method="post">
          Have any questions? Submit this form:
          <br><br>
          <span>Subject</span>
          <input name="subject" id="subject">
          <br><br>
          <span>E-mail</span>
          <input name="email" id="email">
          <br><br>
          <span>Message</span>
          <br><br>
          <textarea name="message" id="text" class="form-input"></textarea>
          <br><br>
          <button class="contact-form-submit-button" type="submit">Submit</button>
        </form>        
      </div>

      <div class="story-grid">

        <div class="story-grid-title">
          <h2>Our Story</h2>
        </div>

        <div>
          <p>Nulla facilisi. Suspendisse sodales diam in mi hendrerit, nec finibus sapien tincidunt. Suspendisse
            potenti.
            Cras lacus nisl, sagittis in tempor sit amet, tincidunt eu est. Nulla auctor eget urna a tincidunt. Ut
            feugiat laoreet libero porta viverra. Etiam elit nibh, tincidunt vitae ipsum sodales, finibus commodo lacus.
            Morbi egestas nisi nisi, eu laoreet enim semper a. Donec rutrum libero ex, vitae auctor justo vehicula eget.
            Nulla suscipit, arcu et interdum posuere, nulla metus dapibus arcu, vel luctus ligula sapien id massa.
            Quisque vel pharetra metus, et accumsan quam.</p>
        </div>

      </div>

      <div class="image-grid">

        <div class="image-grid-title">
          <h2>Meet the crew</h2>
        </div>

        <div class="image-grid-content">
          <p>Liam Zhan <img src="images/wiam.png" class="portrait"> </p>
          <p>Owen Huang <img src="images/owen.png" class="portrait"> </p>
        </div>

      </div>

    </div>

  </div>

</body>

<footer>
  <%- include('layouts/footer'); -%>
</footer>

</html>