<html>
<head>
    <%- include('layouts/navbar'); -%>
</head>
<body>
    <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>replit</title>
  <link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <h1 class="title">Contact Us</h1>
  <div class="grid-container grid-test-div">
    <div class="form-grid grid-test-div">
      <form>
        Have any questions? Submit this form:
        <br>
        <span>Name:</span>
        <input></input>
        <br>
        <span>Email:</span>
        <input></input>
        <br>
        <span>Message:</span>
        <br>
        <textarea></textarea>
        
  
        <br>
        <br>
        <button type="submit">Submit!</button>
      </form>
    </div>

    <div class="story-grid grid-test-div">
      <h2>Our Story</h2>
      
    </div>

    <div class="image-grid grid-test-div">
      <h2>Meet the crew</h2>
      <img src="images/wiam.jpg" class="portrait">
      <img src="images/owen.jpg" class="portrait">

    </div>
    
  </div>
  

  
  <script src="script.js"></script>
  
</body>

</html>
</body>
</html>