<html>

<head>
    <%- include('layouts/navbar'); -%>
</head>

<body>
    <h1 class="title" style="color:black;">Get an Estimate</h1>

    <div class="estimate-page-grid">

        <div>
            <div id="containerDiv"class="img-upload-div">
                <button id="invisibleButton" onclick="handleButtonClick()" disabled></button>
                <label id="imgLabel" for="img" class="font custom-file-upload">Upload</label>
                <img id="uploadedImage" class="uploadImg" src="" alt="Uploaded Image" style="width: 500px; height: 300px; display: none;"> <br><br><br>
            </div>
        
                <div id="label-container"></div>
        
        
            <form action="/action_page.php">
                <input type="file" id="img" name="img" accept="image/*" onchange="loadFile(event)" style="display: none;">
            </form>
        </div>

        <div>
            <div class="options-grid-container">

                <div class="options-grid">
                    <h1>Interior</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                </div>
        
                <div class="options-grid">
                    <h1>Exterior</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                </div>
        
                <div class="options-grid">
                    <h1>Full</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                </div>
        
                <div class="options-grid">
                    <h1>Polished</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

                </div>
        
            </div>
        </div>

    </div>

    

    



    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@latest/dist/tf.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@teachablemachine/image@latest/dist/teachablemachine-image.min.js"></script>
    <script type="text/javascript">

        var loadFile = function (event) {
            var image = document.getElementById("uploadedImage");
            document.getElementById("invisibleButton").style.cursor = "pointer";

            if (!image) {
                // If no existing image, create a new one
                image = document.createElement("img");
                image.id = "uploadedImage";
                image.className = "uploadImg";
                document.querySelector('.imgUploadDiv').appendChild(image);
            }

            image.src = URL.createObjectURL(event.target.files[0]);
            image.style.display = "block"; // Show the uploaded image
            document.getElementById("invisibleButton").disabled = false;
            document.getElementById("imgLabel").style.display = "none"; // Hide the "Choose File" button
            init();
        };

        var handleButtonClick = function () {
            document.getElementById("img").click();
        };
        
        const URLTeachable = "https://teachablemachine.withgoogle.com/models/dy0VvIqtW/";
        
        let model, labelContainer, maxPredictions;

        async function init() {
            
            const modelURL = URLTeachable + "model.json";
            const metadataURL = URLTeachable + "metadata.json";

            model = await tmImage.load(modelURL, metadataURL);
            maxPredictions = model.getTotalClasses();

            labelContainer = document.getElementById("label-container");
            for (let i = 0; i < maxPredictions; i++) {
                labelContainer.appendChild(document.createElement("div"));
            }
            console.log("function ran");
            predictFromImage();
        }

        // Function to predict from the displayed image
        async function predictFromImage() {
            const imageElement = document.getElementById("uploadedImage");
            let highest = -1;

            if (imageElement) {
                const prediction = await model.predict(imageElement);
                for (let i = 0; i < maxPredictions; i++) {
                    if (prediction[i].probability.toFixed(2) > highest){
                        highest = i;
                    }
                }
                const classPrediction = prediction[highest].className;
                labelContainer.innerHTML = classPrediction;
            } else {
                alert("Image element not found.");
            }
        } 
    </script>
</body>

</html>
