<!DOCTYPE html>

<head>
    <%- include('layouts/navbar'); -%>
</head>

<!-- Image compairason slider from https://github.com/sneas/img-comparison-slider -->
<script defer src="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/index.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/img-comparison-slider@8/dist/styles.css" />

<body>

    <div class="fade-in-container">

        <h1 class="homepage-title">Maple Glow Car Detailing</h1>

        <div class="homepage-background-image">

            <div class="homepage-grid">
                <div id="text" class="home-text-grid-item">
                    Welcome to Maple Glow Car Detailing, where your vehicle receives unparalleled care and attention.
                    Our passion for perfection drives us to deliver exceptional car detailing services, transforming
                    your ride into a masterpiece. From meticulous exterior cleaning to luxurious interior detailing,
                    we offer a range of services tailored to meet the unique needs of your vehicle.
                    Experience the difference of Maple Glow, where innovation meets determination.
                </div>

                <div class="home-button-grid-item">
                    <a href="/booking"><button class="book-button" type="button">Book Now!</button></a>
                </div>

            </div>

        </div>

        <h1 class="slider-title">Before and After Pictures</h1>

        <div class="homepage-comparison-slider">

            <img-comparison-slider class="slider-focus" value="72">
                <img slot="first" class="slider-image" src="images/headlight_before.png">
                <img slot="second" class="slider-image" src="images/headlight_after.png">
                <svg slot="handle" xmlns="http://www.w3.org/2000/svg" width="100" viewBox="-8 -3 16 6">
                    <path stroke="#fff" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2"
                        stroke-width="1" fill="#fff" vector-effect="non-scaling-stroke"></path>
                </svg>
            </img-comparison-slider>

            <img-comparison-slider class="slider-focus" value = "52.5">
                <img slot="first" class="slider-image" src="images/wheel-before.png">
                <img slot="second" class="slider-image" src="images/wheel-after.png">
                <svg slot="handle" xmlns="http://www.w3.org/2000/svg" width="100" viewBox="-8 -3 16 6">
                    <path stroke="#fff" d="M -5 -2 L -7 0 L -5 2 M -5 -2 L -5 2 M 5 -2 L 7 0 L 5 2 M 5 -2 L 5 2"
                        stroke-width="1" fill="#fff" vector-effect="non-scaling-stroke"></path>
                </svg>
            </img-comparison-slider>

        </div>

    </div>

</body>

<footer>
    <%- include('layouts/footer'); -%>
</footer>

</html>