<html>
<head>
    <%- include('layouts/navbar'); -%>

    <form>
        <label for = "username">Username: </label><br>
        <input type = "text" id= "username" name="username"><br>
        <label for = "password" >Password: </label><br>
        <input type = "text" id= "password" name="password"><br><br>
    
    <input type="button" value="Sumbit"></input><br><br>

    <text>Don't have an account? Sign up </text><a href="sing-up.ejs">here</a>
    
    </form>

</head>
<body>
    
</body>
</html>