<html>

<head>
    <%- include('layouts/navbar'); -%>
</head>

<h1 class = "title">Login</h1>

<body class = "font">

    <form id="loginForm" action="/login-form" method="post">
        <label for="username">Username </label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Password </label><br>
        <input id="password" name="password"><br><br>

        <button type="sumbit" class = "font">Submit</button>
        <br><br>
        <div class = "font">Don't have an account? Sign up <a class = "hyperlink" href="/sign-up">here</a></div>

    </form>

</body>

<footer>
    <%- include('layouts/footer'); -%>
</footer>

</html>