<!DOCTYPE html>

<html>
    <%- include('layouts/navbar'); -%>

<h1>
    Sign-Up
</h1>

<body>

    <form id="signupForm">

        <label for="firstName">First name: </label><br>
        <input type="text" id="firstName" name="firstName"> <text id="firstNameAlert" class="alertText">*</text><br>
        <label for="lastName">Last name: </label><br>
        <input type="text" id="lastName" name="lastName"> <text id="lastNameAlert" class="alertText">*</text><br>
        <label for="email">Email: </label><br>
        <input type="text" id="email" name="email"> <text id="emailAlert" class="alertText">*</text><br>
        <label for="phoneNumber">Phone Number: </label><br>
        <input type="text" id="phoneNumber" name="phoneNumber"> <text id="phoneNumberAlert"
            class="alertText">*</text><br>
        <label for="address">Address: </label><br>
        <input type="text" id="address" name="address"> <text id="addressAlert" class="alertText">*</text><br>
        <label for="postalCode">Postal Code: </label><br>
        <input type="text" id="postalCode" name="postalCode"> <text id="postalCodeAlert" class="alertText">*</text><br>
        <label for="username">Username: </label><br>
        <input type="text" id="username" name="username"> <text id="usernameAlert" class="alertText">*</text><br>
        <label for="password">Password: </label><br>
        <input type="text" id="password" name="password"> <text id="passwordAlert" class="alertText">*</text><br>
        <label for="confirmPassword">Confim Password: </label><br>
        <input type="text" id="confirmPassword" name="confirmPassword"> <text id="confirmPasswordAlert"
            class="alertText"></text><br><br>

        <button onclick="getInfo()" value="sumbit">Submit</button><br><br>

        <text>Already have an account? Login </text><a href="log-in.ejs">here</a>

    </form>

    <footer>
        <%- include('layouts/footer'); -%>
    </footer>

    <script>

function getInfo() {

    
    
    let fieldNamesTest = ["firstName", "lastName", "email", "phoneNumber", "address", "postalCode", "username", "password", "confirmPassword"];

    for (let i = 0; i < fieldNamesTest.length; i++) {
        let fieldNameTest = fieldNamesTest[i];
        let fieldDataTest = document.getElementById(fieldNameTest).value;
        let alertFieldName = fieldNameTest + "Alert";
        if (fieldDataTest == "") {
            document.getElementById(alertFieldName).innerHTML = "* Required Field";
        }
        else{
            document.getElementById(alertFieldName).innerHTML = "";
        }

    }

    let password = document.getElementById("password").value;
    let confirmPassword = document.getElementById("confirmPassword").value;

    if (password != confirmPassword) {
        document.getElementById("confirmPasswordAlert").innerHTML = "* Passwords do not match";
        alert("Passwords do not match");
    }


    /*
    let email = document.getElementById("email");

    if (isValidEmail(email) == false) {
        document.getElementById("emailAlert").innerHTML = "* Please enter a valid email address";
    }
    if (isValidEmail(email)) {
        document.getElementById("emailAlert").innerHTML = "";
    } 
    */




    let formData = {};

    let fieldNames = ["firstName", "lastName", "email", "phoneNumber", "address", "postalCode", "username", "password", "confirmPassword"];

    for (let i = 0; i < fieldNames.length; i++) {
        let fieldName = fieldNames[i];
        let fieldData = document.getElementById(fieldName).value;
        formData[fieldName] = fieldData;

    }

    console.log(formData);
}




    </script>
</body>

</html>