<!DOCTYPE html>

<html>

<head>
    <%- include('layouts/navbar'); -%>
</head>

<h1 class="title">Sign-Up</h1>

<body class = "font">

    <form id="signupForm" action="/submit-form" method="post">

        <label for="firstName">First name: </label><br>
        <input type="text" id="firstName" name="firstName"> <span id="firstNameAlert" class="alertText">*</span><br>
        <label for="lastName">Last name: </label><br>
        <input type="text" id="lastName" name="lastName"> <span id="lastNameAlert" class="alertText">*</span><br>
        <label for="email">Email: </label><br>
        <input type="text" id="email" name="email"> <span id="emailAlert" class="alertText">*</span><br>
        <label for="phoneNumber">Phone Number: </label><br>
        <input type="text" id="phoneNumber" name="phoneNumber"> <span id="phoneNumberAlert"
            class="alertText">*</span><br>
        <label for="address">Address: </label><br>
        <input type="text" id="address" name="address"> <span id="addressAlert" class="alertText">*</span><br>
        <label for="postalCode">Postal Code: </label><br>
        <input type="text" id="postalCode" name="postalCode"> <span id="postalCodeAlert" class="alertText">*</span><br>
        <label for="username">Username: </label><br>
        <input type="text" id="username" name="username"> <span id="usernameAlert" class="alertText">*</span><br>
        <label for="password">Password: </label><br>
        <input type="text" id="password" name="password"> <span id="passwordAlert" class="alertText">*</span><br>
        <label for="confirmPassword">Confim Password: </label><br>
        <input type="text" id="confirmPassword" name="confirmPassword"> <span id="confirmPasswordAlert"
            class="alertText"></span><br><br>

        <input type="Submit" id="Submit" onclick="getInfo()"><br><br>


        <span>Already have an account? Login </span><a class="hyperlink" href="/login">here</a>

    </form>
    <br><br>
</body>

<script>

    function getInfo() {

        let fieldNamesTest = ["firstName", "lastName", "email", "phoneNumber", "address", "postalCode", "username", "password", "confirmPassword"];

        for (let i = 0; i < fieldNamesTest.length; i++) {
            let fieldNameTest = fieldNamesTest[i];
            let fieldDataTest = document.getElementById(fieldNameTest).value;
            let alertFieldName = fieldNameTest + "Alert";
            if (fieldDataTest == "") {
                document.getElementById(alertFieldName).innerHTML = "* Required Field";
            }
            else {
                document.getElementById(alertFieldName).innerHTML = "";
            }

        }

        let password = document.getElementById("password").value;
        let confirmPassword = document.getElementById("confirmPassword").value;

        if (password != confirmPassword) {
            document.getElementById("confirmPasswordAlert").innerHTML = "* Passwords do not match";
            alert("Passwords do not match");
        }

        /*
        let email = document.getElementById("email");
    
        if (isValidEmail(email) == false) {
            document.getElementById("emailAlert").innerHTML = "* Please enter a valid email address";
        }
        if (isValidEmail(email)) {
            document.getElementById("emailAlert").innerHTML = "";
        } 
        */

        let formData = {};

        let fieldNames = ["firstName", "lastName", "email", "phoneNumber", "address", "postalCode", "username", "password", "confirmPassword"];

        for (let i = 0; i < fieldNames.length; i++) {
            let fieldName = fieldNames[i];
            let fieldData = document.getElementById(fieldName).value;
            formData[fieldName] = fieldData;

        }

        console.log(formData);
    }

</script>

<footer>
    <%- include('layouts/footer'); -%>
</footer>

</html>