<!DOCTYPE html>

<html>

<head>
    <%- include('layouts/navbar'); -%>
        <title>Sign Up</title>
</head>

<body>
    <div class="fade-in-container">
        <h1 class="sign-up-title">Sign-Up</h1>
        <div class="sign-up-form">
            <form id="signupForm" action="/sign-up-form" method="post" onsubmit="return checkFields()">

                <input type="text" id="firstName" name="firstName" class="input-box" placeholder="First name" required>
                <br><br>

                <input type="text" id="lastName" name="lastName" class="input-box" placeholder="Last name" required>
                <br><br>

                <input type="text" id="email" name="email" class="input-box" placeholder="E-mail" required>
                <span id="emailAlert" class="alertText"></span><br><br>

                <input type="text" id="phoneNumber" name="phoneNumber" class="input-box" placeholder="Phone number"
                    required>
                <br><br>

                <input type="text" id="address" name="address" class="input-box" placeholder="Address" required>
                <br><br>

                <input type="text" id="postalCode" name="postalCode" class="input-box" placeholder="Postal Code"
                    required>
                <br><br>

                <input type="text" id="username" name="username" class="input-box" placeholder="Username" required>
                <span id="usernameAlert" class="alertText"></span><br><br>

                <input type="text" id="password" name="password" class="input-box" placeholder="Password" required>
                <span id="passwordAlert" class="alertText"></span><br><br>

                <div class="input-container">
                    <input type="text" id="confirmPassword" name="confirmPassword" class="input-box"
                        placeholder="Confirm password" required>
                    <button type="submit" onclick="checkFields()" class="submit-button"><img
                            src="https://i.ibb.co/DDndqQN/Untitled-design-1.png"></button>

                </div>
                <span id="confirmPasswordAlert" class="alertText"></span>

            </form>
        </div>

        <br><br>

        <div class="form-hyperlink">Already have an account? <a class="hyperlink" href="/login">Log in here ↗</a></div>

        <br><br>

    </div>

</body>

<script>
    function checkFields() {
        let passwordAlert = document.getElementById("confirmPasswordAlert");
        let emailAlert = document.getElementById("emailAlert");

        passwordAlert.textContent = "";
        emailAlert.textContent = "";

        let password = document.getElementById("password").value;
        let confirmPassword = document.getElementById("confirmPassword").value;

        if (password != confirmPassword) {
            passwordAlert.textContent = "Passwords do not match";
            return false;
        }

        const email = document.getElementById('email').value;
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

        if (!emailRegex.test(email)) {
            emailAlert.textContent = "Invalid e-mail address";
            return false;
        }

        return true;
    }

    let usernameAlert = document.getElementById("usernameAlert");
    var usernameTaken = "<%= usernameTaken %>";

    if (usernameTaken) {
        usernameAlert.textContent = "Username taken";
    }
    if (performance.navigation.type === 1 && usernameTaken) {
        usernameAlert.textContent = "";
        usernameTaken = false;
    }
</script>

<footer>
    <%- include('layouts/footer'); -%>
</footer>

</html>