.title {
    font-family: 'Trebuchet MS';
    text-align: center;
}

.font {
    font-family: "Trebuchet MS";
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline;
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Trebuchet MS';
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.leftAlign {
    float: left;
}

.rightAlign {
    float: right;
}

li:hover {
    background-color: #d83434;
}

.book-button {
    font-family: 'Trebuchet MS';
    width: 400px;
    height: 150px;
    font-size: 65px;
    border-radius: 15px;
}

.homepage-grid {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.home-text-grid-item {
    grid-column: 1
}

.home-button-grid-item {
    grid-column: 2
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border:1px solid black;
}

.form-grid {
    grid-column: 1;
    padding: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border:1px solid black;
}

.contact-form-submit-button {
    width: 200px;
    height: 50px;
    font-family: "Trebuchet MS";
    font-size: 20px;
}

.story-grid {
    grid-column: 2;
    padding: 5%;
    border:1px solid black;
}

.story-grid-title {
    text-align: center;
    border:1px solid black;
}

.image-grid {
    grid-column: 3;
    padding: 5%;
    border:1px solid black;
}

.image-grid-title {
    text-align: center;
}

.image-grid-content {
    display: flex;
    text-align: center;
}

.portrait {
    max-width: 100%;
    max-height: 40vh;
    height: auto;
}

.form-input {
   width: 200px; 
   height: 100px;
   resize: none;
}