.title {
    font-family: 'Trebuchet MS';
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    display: inline; 
    color: black;
    text-align: center;
    padding: 14px 16px;
    font-family: 'Trebuchet MS';
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

.leftAlign {
    float: left;
}

.rightAlign {
    float: right;
}

li:hover {
    background-color: #d83434;
}

.book-button {
    font-family: 'Trebuchet MS';
    width: 400px;
    height: 150px;
    font-size: 65px;
    border-radius: 15px;
}

.homepage-grid {
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

.home-text-grid-item {
    grid-column: 1
}

.home-button-grid-item {
    grid-column: 2
}